@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

#search {
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 250px;
  height: 40px;
  border: none;
  background-color: white;
  text-align: center;
}
button {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  background-color: #2655ff;
  border: none;
  color: white;
}

p {
  color: white;
}

#chartContainer {
  margin-top: 240px;
}