@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}